---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getRecipes } from "../utils/sanity";

const recipes = await getRecipes();
---

<Layout title="Sprouts Recipe Book">
  <section>
    {recipes.length ? recipes.map((recipe) => <Card recipe={recipe} />) : <Welcome />}
  </section>
</Layout>
