---
import { formatDate } from "../utils";
import { urlFor, getRandomPlaceholder } from "../utils/image";
import type { Recipe } from "../utils/sanity";

interface Props {
  recipe: Recipe;
}

const { recipe: recipe } = Astro.props;
---

<div class="card">
  <img class="pin" src="/pushpins/red.png" alt="pushpin"/>
  {
    recipe.mainImage ? (
      <img
        class="card__cover"
        src={urlFor(recipe.mainImage).width(300).height(300).url()}
        alt={recipe.mainImage.alt || ""}
      />
    ) : (
      <img class="card__cover" src={"/placeholders/" + await getRandomPlaceholder(recipe.title)} alt="Placeholder">
    )
  }
  <div class="card__container">
    <h3 class="card__title">
      <a
        class="card__link"
        href={`/recipe/${recipe.slug.current}`}
      >
        {recipe.title}
      </a>
    </h3>
  </div>
</div>

<style>

  .card:nth-child(n)  { transform: rotate(5deg); }
  .card:nth-child(2n) { transform: rotate(-3deg); }
  .card:nth-child(3n) { transform: rotate(2deg); }
  .card:nth-child(4n) { transform: rotate(1deg); }
  .card:nth-child(5n) { transform: rotate(-2deg); }

  .pin { transform-origin: 50% 50%; }
  .card:nth-child(n)>.pin  { transform: translateX(-50%) rotate(-10deg); }
  .card:nth-child(2n)>.pin { transform: translateX(-50%) rotate(0deg); }
  .card:nth-child(3n)>.pin { transform: translateX(-50%) rotate(12deg); }
  .card:nth-child(4n)>.pin { transform: translateX(-50%) rotate(5deg); }
  .card:nth-child(5n)>.pin { transform: translateX(-50%) rotate(-15deg); }


  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;

    position: relative;
    border-bottom: 1px solid #ced2d9;

    background-color: #FAECC3;
    padding: 0.5rem;

    & .pin {
      position: absolute;
      width: 50px;
      left: 50%;
      top: -1rem;
    }

    & .card__container {
      width: 100%;
      margin: 0 var(--space-1) 0;
      text-align: center;
    }

    & .card__cover {
      width: 100%;
      height: 231px;
      object-fit: cover;
    }

    & .card__cover--none {
      width: 100%;
      height: 231px;
      background: var(--black);
    }

    & .card__title {
      font-family: var(--font-family-sans);
      font-weight: 800;
      font-size: var(--font-size-5);
      line-height: var(--line-height-6);
      letter-spacing: -0.025em;
      margin: var(--space-3) 0;
    }

    & .card__excerpt {
      font-family: var(--font-family-serif);
      font-weight: 400;
      font-size: var(--font-size-4);
      line-height: var(--line-height-3);
      margin-top: 0;
    }

    & .card__date {
      font-weight: 600;
      font-family: var(--font-family-sans);
      font-size: var(--font-size-1);
      margin-top: calc(var(----space-4) + 7);
    }

    & .card__link {
      color: var(--black);
      text-decoration: none;

      &:hover {
        opacity: 0.8;
        transition: 0.2s;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
      }
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  @media (min-width: 575px) {
    .card {
      border: 1px solid #ced2d9;
      border-bottom: none;

      & .card__title {
        margin-top: var(--space-4);
      }

      &:last-child {
        border-bottom: 1px solid #ced2d9;
      }
    }
  }

  @media (min-width: 800px) {
    .card {
      & .card__cover,
      & .card__cover--none {
        min-width: 231px;
        max-width: 231px;
        max-height: 231px;
      }
    }
  }
</style>
